
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="px-0 bg-dark bg-gradient sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="logo-nav-item">
            <a class="navbar-brand" href="#">
              {{!-- <img src="/img/logo-white.png" width="145" height="32.3" alt="QuillPro"> --}}
              <img src="" width="65" height="65" alt="Ypur logo here">
            </a>

          </li>
          <li>
            <h6 class="nav-header">General</h6>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="batch-icon batch-icon-browser-alt"></i>
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">
              <i class="batch-icon batch-icon-users"></i>
              Product List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="batch-icon batch-icon-star"></i>
              Log Out
            </a>
          </li>
        </ul>
      </nav>