<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/favicon.png">

  <title>Welcome</title>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

  {{!-- <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

  <!-- CSS - REQUIRED - START -->
  <!-- Batch Icons -->
  <link rel="stylesheet" href="/fonts/batch-icons/css/batch-icons.css">
  <!-- Bootstrap core CSS -->
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap/mdb.min.css">
  <!-- Custom Scrollbar -->
  <link rel="stylesheet" href="/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css">
  <!-- Hamburger Menu -->
  <link rel="stylesheet" href="/css/hamburgers/hamburgers.css">

  <!-- CSS - REQUIRED - END -->

  <!-- CSS - OPTIONAL - START -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
  <!-- JVMaps -->
  <link rel="stylesheet" href="/plugins/jvmaps/jqvmap.min.css">
  <!-- CSS - OPTIONAL - END -->

  <!-- QuillPro Styles -->
  <link rel="stylesheet" href="/css/quillpro/quillpro.css"> --}}
</head>
<body>
  <div class="container-fluid">
  {{{body}}}
  {{!-- {{>footer}} --}}
  </div>
  {{!-- <!-- SCRIPTS - REQUIRED START -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Bootstrap core JavaScript -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery/jquery-3.1.1.min.js"></script>
  <!-- Popper.js - Bootstrap tooltips -->
  <script type="text/javascript" src="/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap/mdb.min.js"></script>
  <!-- Velocity -->
  <script type="text/javascript" src="/plugins/velocity/velocity.min.js"></script>
  <script type="text/javascript" src="/plugins/velocity/velocity.ui.min.js"></script>
  <!-- Custom Scrollbar -->
  <script type="text/javascript" src="/plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <!-- jQuery Visible -->
  <script type="text/javascript" src="/plugins/jquery_visible/jquery.visible.min.js"></script>
  <!-- jQuery Visible -->
  <script type="text/javascript" src="/plugins/jquery_visible/jquery.visible.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script type="text/javascript" src="/js/misc/ie10-viewport-bug-workaround.js"></script>
  
  <!-- SCRIPTS - REQUIRED END -->
  
  <!-- SCRIPTS - OPTIONAL START -->
  <!-- ChartJS -->
  <script type="text/javascript" src="/plugins/chartjs/chart.bundle.min.js"></script>
  <!-- JVMaps -->
  <script type="text/javascript" src="/plugins/jvmaps/jquery.vmap.min.js"></script>
  <script type="text/javascript" src="/plugins/jvmaps/maps/jquery.vmap.usa.js"></script>
  <!-- Image Placeholder -->
  <script type="text/javascript" src="/js/misc/holder.min.js"></script>
  <!-- SCRIPTS - OPTIONAL END -->
  
  <!-- QuillPro Scripts -->
  <script type="text/javascript" src="/js/scripts.js"></script> --}}
  </body>
  
  </html>
